canvas {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}
#app {
  height: 0;
}

#tooltip {
  width: 50vw;
  height: 8vh;
  background: rgba(126, 126, 126, 0.5);
  z-index: 2;
  display: none;
  align-items: center;
  justify-content: center;
}

#tooltipContainer {
  margin-top: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


#tooltipText{
  opacity: 100%;
  font-family: Arial, Helvetica, sans-serif;
}